@base: 1920px;
@rate: 100vw / @base;

.vw(@name: @px) {
  @{name}: @px / @base * 100vw;
}

// 之前喜欢用rem，这次尝试用vw

.screen-bg {
  width: 1920px * @rate;
  height: 1080px * @rate;
  background: url('./assets/bg.svg') no-repeat 100%;
  background-color: #d2eaff;
  background-position: top left;
  background-size: 100%;
}

* {
  box-sizing: border-box;
}

.my-row {
  display: flex;
  align-items: center;

  &_top {
    display: flex;
    align-items: flex-start;
  }
}

.logo {
  width: 30px * @rate;
  height: 30px * @rate;
  margin-right: 12px * @rate;
}

.icon_circle {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: #668eff;
  border-radius: 50%;
}

.header {
  .my-row;

  justify-content: space-between;
  width: 100%;
  height: 64px * @rate;
  color: #fff;
  background: url('./assets/header.svg') no-repeat 100%;
  background-position: top left;
  background-size: 100%;

  &-left {
    padding-left: 48px * @rate;
    font-weight: 700;
    font-size: 30px * @rate;
  }

  .time {
    .my-row;

    align-items: flex-start;
    padding-right: 48px * @rate;
    font-weight: 700;
    font-size: 14px * @rate;
    line-height: 22px * @rate;

    &_icon {
      margin-left: 20px * @rate;
      font-size: 20px * @rate;
    }
  }
}

.tips-box {
  color: #fff;
  font-size: 14px * @rate;
  line-height: 24px * @rate;

  &_item {
    display: flex;
  }

  .left {
    flex-shrink: 0;
    margin-right: 13px * @rate;
    text-align: right;
  }

  .right {
    flex-shrink: 0;
  }
}

.fake-tips {
  width: 600px;
}

// ---------------
// 通用组件
.title-box {
  display: inline-flex;
  align-items: center;
  height: 40px * @rate;
  padding-right: 20px * @rate;
  padding-left: 10px * @rate;
  color: #fff;
  font-weight: 700;
  font-size: 20px * @rate;
  background: #668eff;
  border-radius: 8px; // radius 不用乘

  .title_circle {
    width: 16px * @rate;
    height: 16px * @rate;
    margin-right: 8px * @rate;
    border: (4px * @rate) solid #fff;
    border-radius: 50%;
  }
}

.screen-content_top {
  position: relative;
  width: 100%;
  height: 73px * @rate;

  .title-1 {
    position: absolute;
    top: 32px * @rate;
    left: 48px * @rate;
  }

  .center-box {
    position: absolute;
    top: -16px * @rate;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;

    &_left {
      display: flex;
      flex: 1 0 auto;
      justify-content: flex-end;

      .tmp-box {
        width: 230px * @rate;
        margin-right: 24px * @rate;
      }
    }

    &_center {
      width: 230px * @rate;
    }

    &_right {
      flex: 1 0 auto;
      width: 230px * @rate;
      margin-left: 24px * @rate;
    }

    &__header {
      .my-row;

      margin-bottom: 20px @rate;
      color: rgba(0, 0, 0, 0.65);
      font-size: 18px * @rate;
      line-height: 22px * @rate;
    }

    &__content {
      color: #1a2b5b;
      font-weight: 700;
      font-size: 48px * @rate;
    }
  }

  .title-2 {
    position: absolute;
    top: 32px * @rate;
    right: 48px * @rate;
  }
}

// ---------------
// 图表布局
.screen-content {
  .my-row;

  align-items: flex-start;
  // height: 425px * @rate;

  .chart_one {
    position: relative;
    width: 592px * @rate;
    height: 320px * @rate;
    margin-top: 24px * @rate;
    margin-right: 20px * @rate;
    margin-left: 48px * @rate;
    overflow: hidden;
  }

  .chart_two {
    position: relative;
    width: 592px * @rate;
    height: 422px * @rate;
    margin-right: 77px * @rate;

    // overflow: hidden;
    .title-map {
      position: absolute;
      top: 12px * @rate;
      left: -12px * @rate;
    }
  }

  .chart_three {
    width: 592px * @rate;
    height: 320px * @rate;
    margin-top: 24px * @rate;
    overflow: hidden;
  }
}

// 图表类
// 漏斗图
.funnel-box {
  width: 592px * @rate;
  height: 320px * @rate;
}

.map-box {
  width: 592px * @rate;
  height: 422px * @rate;
}

.pie-box {
  width: 592px * @rate;
  height: 320px * @rate;
}

.line-box {
  width: 592px * @rate;
  height: 207px * @rate;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.screen-content_bottom {
  .my-row;

  position: relative;
  top: -5px * @rate;
  align-items: flex-start;
  height: 495px * @rate;
  padding-left: 48px * @rate;

  .chart_four {
    position: relative;
    width: 592px * @rate;
    margin-left: 24px * @rate;
  }

  .title-3 {
    position: absolute;
    top: -56px * @rate;
    left: 0 * @rate;
    z-index: 10;
  }

  .title-4 {
    position: absolute;
    top: -56px * @rate;
    right: 0;
  }

  .title-5 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px * @rate;
    margin-bottom: 16px * @rate;
  }

  .table-box {
    position: relative;
    width: 1208px * @rate;

    :global {
      .ant-table {
        border-bottom: 1px solid #80c4ff;
        border-left: 1px solid #80c4ff;
      }

      // 关于 table
      .ant-table-thead {
        tr {
          th {
            padding: 6px * @rate;
            font-size: 14px * @rate;
            background: #fff;
            border: 1px solid #80c4ff;
            border-bottom: none;
            border-left: none;
            border-collapse: collapse;
          }
        }
      }

      .ant-table-tbody {
        tr:nth-child(odd) {
          td {
            padding: 5px * @rate 10px * @rate 3px * @rate;
            font-size: 14px * @rate;
            background: rgba(67, 160, 241, 0.03);
            border: 1px solid #80c4ff;
            border-bottom: none;
            border-left: none;
            border-collapse: collapse;
          }

          .row_blue {
            background: rgba(68, 162, 244, 0.2);
          }

          .row_blue_sp {
            background: rgba(68, 162, 245, 0.28);
          }
        }

        tr:nth-child(even) {
          td {
            padding: 5px * @rate 10px * @rate 3px * @rate;
            font-size: 14px * @rate;
            background: rgba(67, 160, 241, 0.1);
            border: 1px solid #80c4ff;
            border-bottom: none;
            border-left: none;
            border-collapse: collapse;
          }

          .row_blue {
            background: rgba(67, 160, 241, 0.13);
          }

          .row_blue_sp {
            background: rgba(68, 162, 245, 0.22);
          }
        }
      }

      .col_white {
        background: #fff !important;
      }
    }
  }
}
