@base: 1920px;
@rate: 100vw / @base;

@fullrate: 1.2;

.vw(@name: @px) {
  @{name}: @px / @base * 100vw;
}

// 之前喜欢用rem，这次尝试用vw

.screen-bg {
  width: 1920px * @rate;
  min-height: 100vh;
  padding-bottom: 8px * @rate;
  overflow: hidden;
  font-family: PingFang SC, Microsoft YaHei, SimHei;
  background: url('./assets/bg.svg') repeat 100%;
  background-position: top left;
  background-size: 100%;
}

* {
  box-sizing: border-box;
}

.my-row {
  display: flex;
  align-items: center;

  &_top {
    display: flex;
    align-items: flex-start;
  }
}

.logo {
  width: 30px * @rate;
  height: 30px * @rate;
  margin-right: 12px * @rate;
}

.icon_circle {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: #668eff;
  border-radius: 50%;
}

.header {
  .my-row;

  justify-content: space-between;
  width: 100%;
  height: 64px * @rate;
  color: #fff;
  background: url('./assets/header.svg') no-repeat 100%;
  background-position: top left;
  background-size: 100%;

  &-left {
    padding-left: 24px * @rate;
    font-weight: 700;
    font-size: 30px * @rate;
  }

  .time {
    .my-row;

    align-items: flex-start;
    padding-right: 48px * @rate;
    font-weight: 700;
    font-size: 14px * @rate;
    line-height: 22px * @rate;

    &_icon {
      margin-left: 20px * @rate;
      font-size: 20px * @rate;
    }
  }
}

.tips-box {
  padding: 2px * @rate 15px * @rate;
  color: #fff;
  font-size: 14px * @rate;
  line-height: 24px * @rate;

  &_item {
    display: flex;
    justify-content: flex-end;
  }

  .left {
    flex-shrink: 0;
    margin-right: 13px * @rate;
    text-align: right;
  }

  .right {
    flex-shrink: 0;
  }
}

.fake-tips {
  max-width: 700px;
  padding: 8px * @rate 10px * @rate;
}

.inner-tips {
  height: 34px * @rate;
}

// ---------------
// 通用组件
.title-box {
  display: inline-flex;
  align-items: center;
  height: 32px * @rate;
  padding-right: 20px * @rate;
  padding-left: 10px * @rate;
  color: #fff;
  font-weight: 700;
  font-size: 16px * @rate;
  background: #668eff;
  border-radius: 8px; // radius 不用乘

  .title_circle {
    width: 16px * @rate;
    height: 16px * @rate;
    margin-right: 8px * @rate;
    border: (4px * @rate) solid #fff;
    border-radius: 50%;
  }
}

.screen-content_top {
  position: relative;
  width: 100%;
  height: 73px * @rate;

  .title-1 {
    position: absolute;
    top: 40px * @rate;
    left: 48px * @rate;
  }

  .center-box {
    position: absolute;
    top: -16px * @rate;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;

    &_left {
      display: flex;
      flex: 1 0 auto;
      justify-content: flex-end;

      .tmp-box {
        width: 230px * @rate;
        margin-right: 24px * @rate;
      }
    }

    &_center {
      width: 230px * @rate;
    }

    &_right {
      flex: 1 0 auto;
      width: 230px * @rate;
      margin-left: 24px * @rate;
    }

    &__header {
      .my-row;

      margin-bottom: 20px @rate;
      color: rgba(0, 0, 0, 0.65);
      font-size: 18px * @rate;
      line-height: 22px * @rate;
    }

    &__content {
      color: #1a2b5b;
      font-weight: 700;
      font-size: 48px * @rate;
    }
  }

  .title-2 {
    position: absolute;
    top: 40px * @rate;
    right: 48px * @rate;
  }
}

// ---------------
// 图表布局
.screen-content {
  .my-row;

  align-items: flex-start;
  // height: 425px * @rate;

  .chart_one {
    position: relative;
    width: 592px * @rate;
    height: 264px * @rate;
    margin-top: 10px * @rate;
    margin-right: 10px * @rate;
    margin-left: 48px * @rate;
    // overflow: hidden;

    .tips {
      position: absolute;
      bottom: -15px * @rate;
      left: 0;
      z-index: 10;
      width: 100%;
      color: rgba(0, 0, 0, 0.65);
      font-weight: 700;
      font-size: 14px * @rate;
      line-height: 22px * @rate;
      text-align: center;
    }
  }

  .chart_two {
    position: relative;
    width: 592px * @rate;
    height: 310px * @rate;
    margin-right: 10px * @rate;

    // overflow: hidden;
    .title-map {
      position: absolute;
      top: 12px * @rate;
      left: 3px * @rate;
    }
  }

  .chart_three {
    width: 652px * @rate;
    height: 280px * @rate;
    margin-top: 10px * @rate;
    overflow: hidden;
  }
}

// 图表类
// 漏斗图
.funnel-box {
  width: 592px * @rate;
  height: 270px * @rate;
}

.map-box {
  width: 592px * @rate;
  height: 320px * @rate;
}

.pie-box {
  position: relative;
  width: 652px * @rate;
  height: 280px * @rate;
}

.line-box {
  width: 592px * @rate;
  height: 200px * @rate;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

._line-box {
  width: 592px * @rate;
  height: 200px * @rate;
  border-radius: 8px;
}

.tooltips-bg {
  position: relative;
  padding: 5px;
  padding-right: 20px * @rate;
  // background-color: rgba(255,255,255, 0.4);
}

.tt-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.7;
}

.tc-bg {
  position: relative;
  z-index: 20;
}

.tt-icon {
  position: absolute;
  bottom: -7px;
  left: 40px;
  z-index: 10;
  width: 0;
  height: 0;
  border-top: 8px solid rgba(255, 255, 255, 0.7);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  transform-origin: 50% 50%;
  // transform: rotate(0deg);
}

.tooltips-box {
  display: flex;
  align-items: center;
  margin-right: 4px * @rate;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px * @rate;
  line-height: 22px * @rate;

  .tooltips-icon {
    width: 16px * @rate;
    height: 16px * @rate;
    margin-right: 4px;
  }
}

.tooltips-num {
  margin-left: 27px * @rate;
  color: #1a2b5b;
  font-size: 24px * @rate;
  line-height: 30px * @rate;
}

.screen-content_bottom {
  .my-row;

  position: relative;
  align-items: flex-start;
  margin-top: 10px * @rate;
  padding-left: 48px * @rate;

  .chart_four {
    position: relative;
    width: 592px * @rate;
    margin-left: 24px * @rate;
  }

  .title-3 {
    position: absolute;
    top: -48px * @rate;
    left: 0 * @rate;
    z-index: 10;
  }

  .title-4 {
    position: absolute;
    top: -48px * @rate;
    right: 0;
  }

  .title-5 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 17px * @rate;
    margin-bottom: 12px * @rate;
  }

  .table-box {
    position: relative;
    width: 1208px * @rate;

    :global {
      .ant-table {
        border-bottom: 1px solid #80c4ff;
        border-left: 1px solid #80c4ff;
      }

      // 关于 table
      .ant-table-thead {
        tr {
          th {
            padding: 4px * @rate 8px * @rate 2px * @rate 2px * @rate;
            font-weight: 700;
            font-size: 12px * @rate;
            line-height: 20px * @rate;
            text-align: center !important;
            background: #fff;
            border: 1px solid #80c4ff;
            border-bottom: none;
            border-left: none;
            border-collapse: collapse;
          }

          // th:first-child {
          //   text-align: center;
          // }

          // th:nth-child(2) {
          //   text-align: center;
          // }
        }
      }

      .ant-table-tbody {
        tr {
          td {
            padding: 2px * @rate 8px * @rate 2px * @rate 2px * @rate;
            overflow: hidden;
            font-size: 12px * @rate;
            line-height: 19px * @rate;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .row_first {
          text-align: center;
        }

        .col_two {
          overflow: auto;
          white-space: initial;
          text-overflow: initial;
        }

        tr:nth-child(odd) {
          td {
            min-width: 78px * @rate;
            max-width: 120px * @rate;
            background: #fff;
            // background: rgba(67, 160, 241, 0.03);
            border: 1px solid #80c4ff;
            border-bottom: none;
            border-left: none;
            border-collapse: collapse;
          }

          .row_blue {
            background: rgba(68, 162, 244, 0.2);
          }

          .row_blue_sp {
            background: rgba(68, 162, 245, 0.28);
          }
        }

        tr:nth-child(even) {
          td {
            min-width: 78px * @rate;
            max-width: 120px * @rate;
            background: #fff;
            // background: rgba(67, 160, 241, 0.1);
            border: 1px solid #80c4ff;
            border-bottom: none;
            border-left: none;
            border-collapse: collapse;
          }

          .row_blue {
            background: rgba(67, 160, 241, 0.13);
          }

          .row_blue_sp {
            background: rgba(68, 162, 245, 0.22);
          }
        }
      }

      .col_white {
        background: #fff !important;
      }
    }
  }
}

.title-tips {
  position: absolute;
  top: -35px * @rate;
  left: 300px * @rate;
  z-index: 10;
  width: 100%;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 700;
  font-size: 13px * @rate;
  line-height: 22px * @rate;
}

// -------------------------
.screen_fullscreen {
  .chart_one {
    width: 592px * @rate;
    height: 264px * @rate * @fullrate;
  }

  .chart_two {
    width: 592px * @rate;
    height: 310px * @rate * @fullrate;
  }

  .chart_three {
    width: 652px * @rate;
    height: 280px * @rate * @fullrate;
  }

  .funnel-box {
    width: 592px * @rate;
    height: 270px * @rate * @fullrate;
  }

  .map-box {
    width: 592px * @rate;
    height: 320px * @rate * @fullrate;
  }

  .pie-box {
    position: relative;
    width: 652px * @rate;
    height: 280px * @rate * @fullrate;
  }

  .line-box {
    width: 592px * @rate;
    height: 198px * @rate * @fullrate;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
  }

  ._line-box {
    width: 592px * @rate;
    height: 198px * @rate * @fullrate;
    border-radius: 8px;
  }

  .table-box {
    :global {
      // 关于 table
      .ant-table-thead {
        tr {
          th {
            padding: 4px * @rate 8px * @rate 4px * @rate 2px * @rate !important;
            font-weight: 700;
            font-size: 14px * @rate !important;
            line-height: 22px * @rate !important;
          }
        }
      }

      .ant-table-tbody {
        tr {
          td {
            padding: 3px * @rate 8px * @rate 4px * @rate 2px * @rate !important;
            overflow: hidden;
            font-size: 12px * @rate !important;
            line-height: 20px * @rate !important;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.fs_sp {
  font-weight: 700;
}
