.active-row {
  background: #fff;
}

.active-blue {
  td {
    color: #fff;
    background: #668eff !important;
  }
}

.active-green {
  td {
    background: #36cbcb !important;
  }
}

.active-deepGreen {
  td {
    background: #4ecb73 !important;
  }
}

.active-yellow {
  td {
    background: #ffc751 !important;
  }
}

.active-orange {
  td {
    background: #f6946f !important;
  }
}

.active-red {
  td {
    color: #fff;
    background: #f9526e !important;
  }
}

.active-purple {
  td {
    color: #fff;
    background: #975fe5 !important;
  }
}
